@charset "utf-8";
/* CSS Document */

body{
	background:#eee;
}

h1{
	text-align:center;
}

.wrap{
	width:960px;
	height:450px;
	margin:40px auto;
	position:relative;	
}

.wrap img{
	width:200px;
	height:auto;
	padding:10px 10px 15px;
	background:#fff;	
	border:1px solid #ddd;
	box-shadow:2px 2px 3px rgba(50,50,50,0.4);
	transition:all 0.5s ease-in;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	position:absolute;
	z-index:1;
}

.wrap img:hover{
	box-shadow:15px 15px 20px rgba(50,50,50,0.4);
	-webkit-transform:rotate(0deg) scale(1.20);	
	-moz-transform:rotate(0deg) scale(1.20);
	transform:rotate(0deg) scale(1.20);
	z-index:2;
}

.pic1{
	left:400px;
	top:0;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	transform:rotate(-5deg);	
}

.pic2{
	left:600px;
	top:0;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	transform:rotate(-20deg);	
}

.pic3{
	right:0px;
	top:0;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	transform:rotate(5deg);	
}

.pic4{
	bottom:0px;
	left:300px;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	transform:rotate(-10deg);	
}

.pic5{
	left:0px;
	bottom:0;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	transform:rotate(-10deg);	
}

.pic6{
	left:0px;
	top:0;
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	transform:rotate(10deg);	
}

.pic7{
	left:850px;
	top:0;
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	transform:rotate(20deg);	
}

.pic8{
	bottom:-20px;
	right:630px;
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	transform:rotate(5deg);	
}

.pic9{
	top:10px;
	left:550px;
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
	transform:rotate(15deg);	
}
.pic10{
	top:20px;
	left:180px;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	transform:rotate(-10deg);	
}